import React from 'react';
import styles from './{{ camelCase name }}.module.css';
import classnames from 'classnames';

export interface {{ pascalCase name }}Props {
    className?: string;
}

{{#if forwardRef}}
export const {{ pascalCase name }} = React.forwardRef<HTMLDivElement, {{ pascalCase name }}Props>(({ className }, ref) => {
  return (
    <div ref={ref} className={classnames(styles.{{ camelCase name }}, className)}>
     {{ pascalCase name }}
    </div>
  );
});

{{ pascalCase name }}.displayName = '{{ pascalCase name }}';
{{else}}
const {{ pascalCase name }} = ({ className }: {{ pascalCase name }}Props) => {
  return (
    <div className={classnames(styles.{{ camelCase name }}, className)}>
     {{ pascalCase name }}
    </div>
  );
};
{{/if}}

export default {{ pascalCase name }};
